<template>
  <div>
    <div
      v-if="isMobile"
      class="hidden-md-and-up mt-1 d-flex">
      <v-btn
        icon
        small
        @click="refreshRating('up')">
        <v-icon> {{ mdiMenuUp }} </v-icon>
      </v-btn>
      <spinner
        :is-load="isLoading"
        rating>
        <template
          v-if="!isLoading"
          slot="body">
          <p class="subtitle-1 my-auto mx-2">
            {{ rating }}
          </p>
        </template>
      </spinner>
      <v-btn
        icon
        small
        @click="refreshRating('down')">
        <v-icon> {{ mdiMenuDown }} </v-icon>
      </v-btn>
    </div>
    <div
      v-if="isDesktop"
      class="hidden-sm-only text-center d-flex">
      <v-btn
        class="align-self-center"
        icon
        large
        @click="$router.push('/')">
        <v-icon large>
          {{ mdiMenuLeft }}
        </v-icon>
      </v-btn>
      <div v-if="!goToHomeOnly">
        <v-btn
          icon
          large
          @click="refreshRating('up')">
          <v-icon large>
            {{ mdiMenuUp }}
          </v-icon>
        </v-btn>
        <spinner
          :is-load="isLoading"
          rating>
          <template
            v-if="!isLoading"
            slot="body">
            <p class="subtitle-1 mb-0">
              {{ rating }}
            </p>
          </template>
        </spinner>
        <v-btn
          icon
          large
          @click="refreshRating('down')">
          <v-icon large>
            {{ mdiMenuDown }}
          </v-icon>
        </v-btn>
      </div>
    </div>
  </div>
</template>

<script>
import {
	mdiMenuDown,
	mdiMenuLeft,
	mdiMenuUp
} from "@mdi/js"
import Spinner from "~/components/Spinner";
export default {
	name: "ActionButtons",
	components: {Spinner},
	props: {
	  isMobile: {
	    type: Boolean,
			default: false,
		},
		isDesktop: {
			type: Boolean,
			default: false,
		},
		id: {
	    type: String,
			default: ""
		},
		goToHomeOnly: {
	    type: Boolean,
			default: false
		}
	},
	data() {
	  return {
			mdiMenuDown,
			mdiMenuLeft,
			mdiMenuUp,
			rateData: {},
			rating: 0,
			isLoading: true
		}
	},
	async created() {
	  if(!this.goToHomeOnly) {
			try {
				this.rateData = await this.$axios.$get(`/blog/post/prismic/${this.id}`)
				this.rating = this.rateData.count || 0
			} catch (e) {
				console.error(e)
			} finally {
				this.isLoading = false
			}
		}
	},
	methods: {
		async refreshRating(flag) {
		  let value = 0
		  if (flag === "up") {
				value++
				++this.rating
			} else if(flag === "down") {
				value--
				--this.rating
			}
		  try{
				await this.$axios.post("/blog/post/vote", {
					pid: this.id,
					val: value
				});
			} catch (err) {
		    if(_.get(err, "response.data.statusCode") === 401) {
					this.$root.$emit("alert", {
						message: "Пожалуйста, войдите в аккаунт или зарегистрируйтесь",
						type: "error"
					})
				}
		    else console.error(err)
			}
		}
	}
}
</script>
