<template>
  <v-card
    class="elevation-2 mx-auto"
    style="overflow: hidden">
    <v-app-bar
      dense
      class="elevation-0 mb-5">
      <v-toolbar-title>Добавить историю</v-toolbar-title>
      <v-spacer />
      <v-btn
        icon
        small
        @click.prevent="closeModal">
        <v-icon>{{ mdiClose }}</v-icon>
      </v-btn>
    </v-app-bar>
    <v-card-text>
      <v-form
        ref="form"
        class="text-right"
        @submit.prevent="addStory">
        <recaptcha
          @error="captchaOnError"
          @success="captchaOnSuccess"
        />
        <v-text-field
          v-model="name"
          :rules="[rules.required]"
          name="story-name"
          label="Название истории"
          dense
          outlined
          filled
          class="input-group--focused my-2"
        />
        <v-textarea
          v-model="story"
          outlined
          :rules="[rules.min]"
          dense
          filled
          rows="18"
          name="story-text"
          label="История"
          :loading="loading"
          no-resize
        />
        <v-btn
          text
          class="my-1"
          type="submit"
          :loading="loading">
          Отправить
        </v-btn>
      </v-form>
    </v-card-text>
  </v-card>
</template>

<script>
import {
	mdiClose
} from "@mdi/js"
export default {
	name: "NewPost",
	props: {
		open: Boolean
	},
	data() {
	  return {
			mdiClose,
			name: "",
			loading: false,
			story: "",
			rules: {
				required: v => !!v || "Обязательное поле",
				min: v => v.length >= 50 || "Минимум 50 символов",
			},
		}
	},
	methods: {
		closeModal() {
			this.$emit("update:open", !this.open)
		},
		captchaOnError(error){
			console.log("Error happened:", error)
		},
		async captchaOnSubmit(){
			try {
				await this.$recaptcha.getResponse()
				await this.$recaptcha.reset()
			} catch (error) {
				console.log("Login error:", error)
			}
		},
		async captchaOnSuccess(){
			await this.addStory()
		},
		async addStory(){
		  try {
				if(this.$refs.form.validate()) {
					this.loading = true
					const {message} = await this.$axios.$post("/story/add", {
						uid: this.$auth.user._id,
						nickname: this.$auth.user.nickname,
						name: this.name,
						text: this.story
					})
					// Отправляем Alert в default layout для вызова Snackbar
					this.$root.$emit("alert", {
						message,
						type: "success"
					})
					this.closeModal()
				}
			} catch(e) {
				// Отправляем Alert в default layout для вызова Snackbar
				this.$root.$emit("alert", {
					message: "Произошла ошибка при добавлении истории",
					type: "error"
				})
			} finally {
				this.loading = false
			}
		}
	}
}
</script>

<style scoped>

</style>
