<template>
  <div>
    <client-only>
      <slot
        name="emptyContent" />
      <v-row
        justify="center"
      >
        <slot
          name="loading" />
        <v-col
          v-for="item in items"
          :key="item.id"
          :class="{'empty-padding': $vuetify.breakpoint.xsOnly}"
          cols="12"
          md="6"
          lg="4"
        >
          <v-hover v-slot="{ hover }">
            <v-card
              elevation="0"
            >
              <v-list-item class="py-3">
                <v-list-item-content>
                  <v-list-item-title
                    style="cursor:pointer;"
                    class="headline text-center"
                    @click="$router.push(`/${linkToReadPost}/${item.uid}`)">
                    {{ _get(item, 'data.post_title[0].text') }}
                  </v-list-item-title>
                </v-list-item-content>
              </v-list-item>
              <v-img
                :src="_get(item, 'data.post_image.url')"
                :alt="_get(item, 'data.post_image.alt')"
                height="250"
              >
                <v-expand-transition>
                  <div
                    v-if="hover"
                    class="d-flex transition-fast-in-fast-out darken-2 v-card--reveal body-1 align-center"
                    style="height: 100%; cursor: pointer"
                    :style="{background: $customTheme.cardHover, color: $customTheme.cardHoverColor}"
                    @click="$router.push(`/${linkToReadPost}/${item.uid}`)"
                  >
                    <p class="ma-4">
                      {{ _get(item, 'data.post_announce[0].text') | cropText }}
                    </p>
                  </div>
                </v-expand-transition>
              </v-img>
              <v-card-actions class="py-3">
                <v-btn
                  nuxt
                  text
                  small
                  :to="`/${linkToReadPost}/${item.uid}`">
                  Читать
                </v-btn>
                <v-spacer />
                <shared-components
                  :uid="item.uid"
                  :type="linkToReadPost" />
              </v-card-actions>
            </v-card>
          </v-hover>
        </v-col>
      </v-row>
      <slot
        name="pagination" />
    </client-only>
  </div>
</template>

<script>
import SharedComponents from "./SharedComponent"
import get from "lodash/get";
import {
	mdiCommentTextMultiple,
} from "@mdi/js"

export default {
	name: "PagesComponent",
	components: {SharedComponents},
	props: {
		items: {
			type: Array,
			default: () => []
		},
		isLoad: {
			type: Boolean,
			default: true
		},
		linkToReadPost: {
		  type: String,
			default: "story"
		}
	},
	data() {
	  return {
			mdiCommentTextMultiple
		}
	},
	methods: {
		_get: get
	},
	filters: {
		cropText: (text) => {
			if (text) {
				const length = 250;
				if (text.length > length) {
					const lastSpace = text.substr(0, length).lastIndexOf(" ")
					const lastSymbol = text[text.substr(0, lastSpace).length - 1];
					if (lastSymbol === "," || lastSymbol === ".") return text.substr(0, lastSpace - 1) + "...";
					else return text.substr(0, lastSpace) + "...";
				} else return text
			} else return "Краткое описание временно не доступно"
		}
	}
}
</script>

<style scoped>
  .empty-padding {
    padding-left: 0;
    padding-right: 0;;
  }
</style>
