<template>
  <div class="text-center">
    <v-pagination
      v-model="page"
      :length="length"
      :prev-icon="mdiMenuLeft"
      :next-icon="mdiMenuRight"
    />
  </div>
</template>

<script>
import {
	mdiMenuLeft,
	mdiMenuRight,
} from "@mdi/js"
export default {
	props: {
		length: {
			type: Number,
			default: 0
		}
	},
	data () {
		return {
			page: 1,
			mdiMenuLeft,
			mdiMenuRight
		}
	},
	watch: {
		page () {
	    this.$emit("getNextPage", this.page)
		}
	}
}
</script>
