<template>
  <div>
    <transition name="fade">
      <v-btn
        v-show="sharedShow"
        icon
        small
        @click="copyLink">
        <v-icon small>
          {{ mdiLink }}
        </v-icon>
      </v-btn>
    </transition>
    <v-btn
      icon
      @click="sharedShow = !sharedShow">
      <v-icon>{{ mdiDotsHorizontal }}</v-icon>
    </v-btn>
  </div>
</template>

<script>
import {
	mdiLink,
	mdiDotsHorizontal,
} from "@mdi/js"
export default {
	name: "SharedComponentsVue",
	props: {
		uid: {
			type: String,
			default: ""
		},
		type: {
		  type: String,
			default: "story"
		}
	},
	data() {
		return {
			mdiLink,
			mdiDotsHorizontal,
			sharedShow: false,
			snackbar: false,
		}
	},
	methods: {
		copyLink() {
			if (this.uid) this.$copyText(`https://${window.location.hostname}/${this.type}/${this.uid}`);
			// Отправляем Alert в default layout для вызова Snackbar
			this.$root.$emit("alert", {
				message: "Ссылка скопирована"
			})
		}
	},
}
</script>

<style scoped>
  .fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
    opacity: 0;
  }
</style>
