<template>
  <div>
    <div
      v-if="isLoad"
      class="lds-ring">
      <div :style="dynamicSpinnerStyle" />
      <div :style="dynamicSpinnerStyle" />
      <div :style="dynamicSpinnerStyle" />
      <div :style="dynamicSpinnerStyle" />
    </div>
    <slot name="body" />
  </div>
</template>

<script>
export default {
	name: "Spinner",
	props: {
		isLoad: Boolean
	},
	computed: {
	  dynamicSpinnerStyle() {
	    return {
				borderColor:  `${this.$customTheme.spinner} transparent transparent transparent`
			}
		}
	},
}
</script>

<style scoped>
  .lds-ring {
    display: inline-block;
    position: relative;
    width: 28px;
    height: 25px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    margin: 4px;
    border: 2px solid;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

</style>
