<template>
  <pages-component
    :items="stories">
    <template
      v-if="isLoad"
      v-slot:loading>
      <v-col
        v-for="item in 12"
        :key="item"
        :class="{'empty-padding': $vuetify.breakpoint.xsOnly}"
        cols="12"
        md="6"
        lg="4"
      >
        <v-skeleton-loader
          class="mx-auto"
          type="card"
        />
      </v-col>
    </template>
    <template
      v-if="totalPages > 1"
      v-slot:pagination>
      <pagination
        class="my-4"
        :length="totalPages"
        @getNextPage="getCurrentPage"
      />
    </template>
    <template
      v-if="!stories.length && !isLoad"
      v-slot:emptyContent>
      <div class="text-center mt-5">
        <p class="display-1">
          Здесь пока пусто
        </p>
      </div>
    </template>
  </pages-component>
</template>
<script>
import PagesComponent from "@/components/PagesComponent";
import Pagination from "@/components/Pagination";
import {getPostsByTag} from "@/utils/prismic";
import {categories} from "@/config/categories";


export default {
	components: {PagesComponent, Pagination},
	data: () => ({
		stories: [],
		isLoad: true,
		totalPages: 0
	}),
	async mounted() {
		await this.getCurrentPage()
		this.isLoad = false
	},
	methods: {
		async getCurrentPage() {
			const items = await getPostsByTag("document.tags",  categories[this.$route.params.name])
			this.stories = items.results
			this.totalPages = items.total_pages
		},
	}
}
</script>

