<template>
  <v-form
    @submit.prevent="searchStories">
    <v-row
      align="center"
      :style="{maxWidth: width}"
      class="mr-5 "
    >
      <v-text-field
        v-model="query"
        solo
        dense
        rounded
        hide-details
        name="search"
        label="Поиск"
        class="hidden-sm-and-down"
      >
        <template v-slot:append>
          <v-btn
            icon
            small
            type="submit"
            :disabled="!query"
            :loading="loading">
            <v-icon>{{ mdiMagnify }}</v-icon>
          </v-btn>
        </template>
      </v-text-field>
    </v-row>
    <founded-items
      :items="items"
      @closeMenu="closeSearchMenu" />
  </v-form>
</template>

<script>
import FoundedItems from "./SearchedItemsComponents"
import {
	mdiStar,
	mdiMagnify,
	mdiWindowClose
} from "@mdi/js"
import {getStoriesList} from "@/components/search/searchHelper";
export default {
	name: "SearchVue",
	components: {
		FoundedItems
	},
	props: {
		isMobile: Boolean,
		isClose: Boolean
	},
	data: () => {
		return {
			mdiStar,
			mdiMagnify,
			mdiWindowClose,
			width: "500px",
			query: "",
			items: [],
			loading: false
		}
	},
	methods: {
		closeSearchMenu() {
			this.items = [];
			this.query = ""
		},
		async searchStories() {
			try {
				this.loading = true;
				this.items = await getStoriesList(this.query)
			} catch (e) {
				console.error(e)
			} finally {
				this.loading = false
			}
		}
	}
}
</script>
