<template>
  <v-form
    @submit.prevent="searchStories">
    <v-row>
      <v-card width="100%">
        <v-text-field
          v-model="query"
          flat
          solo
          hide-details
          label="Поиск"
          class="hidden-md-and-up"
        >
          <template v-slot:append>
            <v-btn
              icon
              type="submit"
              :disabled="!query"
              :loading="loading">
              <v-icon>{{ mdiMagnify }}</v-icon>
            </v-btn>
          </template>
        </v-text-field>
      </v-card>
    </v-row>
    <founded-items
      :items="items"
      @closeMenu="closeSearchMenu" />
  </v-form>
</template>

<script>
import {getStoriesList} from "./searchHelper"
import FoundedItems from "./SearchedItemsComponents"
import {
	mdiStar,
	mdiMagnify,
	mdiWindowClose
} from "@mdi/js"
export default {
	name: "SearchVue",
	components: {
		FoundedItems
	},
	props: {
		isMobile: Boolean,
		isClose: Boolean
	},
	data: () => {
		return {
			mdiStar,
			mdiMagnify,
			mdiWindowClose,
			query: "",
			items: [],
			loading: false
		}
	},
	methods: {
		closeSearchMenu() {
			this.items = [];
			this.query = ""
		},
		async searchStories() {
			try {
				this.loading = true;
				this.items = await getStoriesList(this.query)
			} catch (e) {
				console.error(e)
			} finally {
				this.loading = false
			}
		}
	}
}
</script>

<style scoped>
.fullscreen-search-box {
  position: absolute;
  max-width: 400px;
  margin-bottom: 12px;
  top: 63px;
  right: 0;
  z-index: 1000;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
}
</style>
