<template>
  <transition name="fade">
    <v-card
      v-if="items.length"
      :class="{'fullscreen-search-box': !$vuetify.breakpoint.xsOnly}">
      <v-list three-line>
        <template v-for="(item, index) in items">
          <v-subheader
            v-if="item.header && !item.found"
            :key="item.header"
          >
            <p class="mb-0">
              {{ item.header }}
            </p>
            <v-btn
              icon
              small
              class="mb-5 ml-5"
              @click.stop="closeMenu">
              <v-icon small>
                {{ mdiWindowClose }}
              </v-icon>
            </v-btn>
          </v-subheader>
          <v-subheader
            v-else-if="item.header && item.found"
            :key="item.uid"
          >
            <v-row justify="space-between">
              <p class="mb-0 ml-3">
                {{ item.header }}
              </p>
              <v-btn
                class="text-right"
                icon
                small
                @click.stop="closeMenu">
                <v-icon small>
                  {{ mdiWindowClose }}
                </v-icon>
              </v-btn>
            </v-row>
          </v-subheader>
          <v-divider
            v-else-if="item.divider"
            :key="index"
            :inset="item.inset"
          />
          <v-list-item
            v-else
            :key="item.uid"
            @click="redirect(item.uid)"
          >
            <v-list-item-avatar>
              <v-img :src="item.post_image.url" />
            </v-list-item-avatar>

            <v-list-item-content>
              <v-list-item-title>
                <v-row
                  justify="space-between"
                  align="center"
                  class="px-3">
                  <h5
                    class="mb-0 subtitle-2"
                    style="text-overflow: ellipsis; width: 95%; overflow: hidden">
                    {{ item.post_title[0].text }}
                  </h5>
                </v-row>
              </v-list-item-title>
              <v-list-item-subtitle>{{ item.post_announce[0].text }}</v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
        </template>
      </v-list>
    </v-card>
  </transition>
</template>

<script>
import {
	mdiStar,
	mdiMagnify,
	mdiWindowClose
} from "@mdi/js"
export default {
	name: "SearchVue",
	props: {
		items: {
			type: Array,
			default: () => [],
		},
	},
	data: () => {
		return {
			mdiStar,
			mdiMagnify,
			mdiWindowClose,
			width: "500px",
			query: "",
			loading: false
		}
	},
	methods: {
		redirect(uid) {
			this.$router.push(`/story/${uid}`);
			this.closeMenu()
		},
		closeMenu() {
			this.$emit("closeMenu")
		}
	}
}
</script>

<style scoped>
.fullscreen-search-box {
  position: absolute;
  max-width: 400px;
  margin-bottom: 12px;
  top: 63px;
  right: 0;
  z-index: 1000;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
  opacity: 0;
}
</style>
