<template>
  <v-app
    id="inspire"
    :style="{background: $customTheme.background}">
    <v-navigation-drawer
      v-model="drawer"
      :style="{background: $customTheme.menu}"
      app
      touchless
      clipped
      width="260"
    >
      <v-list
        dense
        subheader>
        <template v-for="item in menuItems">
          <v-list-group
            v-if="item.children"
            :key="item.text"
            v-model="item.model"
            color="default"
            :prepend-icon="item.staticIcon"
            :append-icon="item.model ? item.icon : item['icon-alt']"
          >
            <template v-slot:activator>
              <v-list-item-content>
                <v-list-item-title class="subtitle-2">
                  {{ item.text }}
                </v-list-item-title>
              </v-list-item-content>
            </template>
            <v-list-item
              v-for="(child, i) in item.children"
              :key="i"
              nuxt
              :to="child.path"
            >
              <v-list-item-action v-if="child.icon">
                <v-avatar
                  size="24"
                  color="grey"
                >
                  <img
                    :src="child.icon"
                    alt="logo"
                  >
                </v-avatar>
              </v-list-item-action>
              <v-list-item-content>
                <v-list-item-title class="subtitle-2">
                  {{ child.text }}
                </v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list-group>
          <v-list-item
            v-else
            :key="item.text"
            nuxt
            :to="item.path"
          >
            <v-list-item-action>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title class="subtitle-2">
                {{ item.text }}
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </template>
        <v-list-item
          v-if="$auth.loggedIn"
          class="mx-0 mt-1 pa-0"
          :style="{background: $customTheme.menuList}">
          <v-list-item-avatar
            color="grey"
            class="ml-2">
            <v-img src="/images/zombie.svg" />
          </v-list-item-avatar>
          <v-list-item-content class="ml-2">
            <v-list-item-title class="subtitle-2">
              {{ $auth.user.nickname | firstCapitalize }}
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <template v-for="item in userItems">
          <v-list-item
            v-if="item.show"
            :key="item.text"
            @click="item.action"
          >
            <v-list-item-action>
              <v-icon>{{ item.icon }}</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title class="subtitle-2">
                {{ item.text }}
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </template>
      </v-list>
    </v-navigation-drawer>
    <v-app-bar
      app
      height="60"
      clipped-left
    >
      <v-app-bar-nav-icon @click.stop="drawer = !drawer">
        <img
          src="/images/jack.svg"
          alt="logo"
        />
      </v-app-bar-nav-icon>
      <v-btn
        v-if="this.$route.name === 'story-uid' || this.$route.name === 'news-uid'"
        icon
        class="hidden-md-and-up"
        @click="$router.push('/')">
        <v-icon>{{ mdiChevronLeft }}</v-icon>
      </v-btn>
      <v-toolbar-title
        class="ml-2 pl-0"
        style="cursor: pointer"
        @click="$router.push('/')">
        Страшные истории
      </v-toolbar-title>
      <v-spacer />
      <search />
      <v-btn
        icon
        @click="$vuetify.theme.dark = !$vuetify.theme.dark">
        <v-icon> {{ themeIcon }} </v-icon>
      </v-btn>
    </v-app-bar>
    <v-main>
      <v-container fluid>
        <search-mobile />
        <nuxt />
      </v-container>
      <v-btn
        v-show="fab"
        v-scroll="onScroll"
        class="mb-5"
        fab
        small
        fixed
        bottom
        right
        @click="toTop"
      >
        <v-icon small>
          {{ mdiAppleKeyboardControl }}
        </v-icon>
      </v-btn>
    </v-main>

    <v-footer app>
      <span style="font-size: 14px">&copy; {{ new Date().getFullYear() }}</span>
      <v-spacer />
      <nuxt-link
        to="/"
        style="font-size: 14px; text-decoration: none">
        www.screep.ru
      </nuxt-link>
      <small style="display: none">
        <a
          style="text-decoration: none"
          href="https://policies.google.com/privacy">Privacy Policy</a> and
        <a
          style="text-decoration: none"
          href="https://policies.google.com/terms">Terms of Service</a>
      </small>
    </v-footer>

    <v-row justify="center">
      <v-dialog
        v-model="isNewPost"
        overlay-opacity="1"
        persistent
        max-width="800"
        content-class="hidden-overflow">
        <new-post :open.sync="isNewPost" />
      </v-dialog>
    </v-row>
    <snackbar
      :is-show.sync="isAlert"
      :alert-data="alertData" />
  </v-app>
</template>

<script>
import Search from "~/components/search/MainSearchComponent"
import SearchMobile from "~/components/search/MobileSearchComponent"
import Snackbar from "~/components/commons/Snackbar";
import {
	mdiHome,
	mdiStarCircle,
	mdiChevronUp,
	mdiChevronDown,
	mdiChevronLeft,
	mdiSort,
	mdiAppleKeyboardControl,
	mdiPlus,
	mdiMenu,
	mdiLogout,
	mdiClose,
	mdiWhiteBalanceSunny,
	mdiWeatherNight,
	mdiLogin,
	mdiNewspaper
} from "@mdi/js"
import NewPost from "~/components/NewPost";

export default {
	components: {
		NewPost,
		Snackbar,
		SearchMobile,
		Search,
	},
	props: {
		source: {
		  type: String,
			default: ""
		},
	},
	data: () => ({
		mdiChevronLeft,
		mdiMenu,
		mdiClose,
		mdiLogout,
		mdiAppleKeyboardControl,
		mdiNewspaper,
		drawer: null,
		isOpen: false,
		isNewPost: false,
		fab: null,
		alertData: {},
		isAlert: false,
		isSearchBlockClose: false,
		menuItems: [
			{icon: mdiHome, text: "Главная",  path: "/" },
			// {icon: mdiNewspaper, text: "Новости",  path: "/horror-news" },
			{icon: mdiStarCircle,  text: "Рейтинговые",  path: "/top"},
			{ "icon": mdiChevronUp,
				"icon-alt": mdiChevronDown,
				"staticIcon": mdiSort,
				"text": "Категории",
				"model": false,
				"children": [
					{icon: "/images/ghost-menu.svg",  text: "Призраки", path: "/category/ghosts"},
					{icon: "/images/dracula.svg",  text: "Вампиры", path: "/category/vampires"},
					{icon: "/images/mummy.svg",  text: "Монстры", path: "/category/monsters"},
					{icon: "/images/evil.svg",  text: "Демоны", path: "/category/demons"},
					{icon: "/images/skull.svg",  text: "Разное", path: "/category/other"},
				],
			}
		]
	}),
	methods: {
		onScroll (e) {
			if (typeof window === "undefined") return;
			const top = window.pageYOffset || e.target.scrollTop || 0;
			this.fab = top > 20
		},
		toTop () {
			this.$vuetify.goTo(0)
		}
	},
	computed: {
		userItems(){
			return [
				{icon: mdiPlus,  text: "Добавить историю", action:() => this.isNewPost = !this.isNewPost, show: this.$auth.loggedIn},
				{icon: mdiLogin,  text: "Вход", type: "button", action:() => this.$router.push("/login"), show: !this.$auth.loggedIn},
				{icon: mdiLogout,  text: "Выход", type: "button", action:async () => await this.$auth.logout(), show: this.$auth.loggedIn},
			]
		} ,
		themeIcon() {
			if (this.$vuetify.theme.dark === true) return mdiWhiteBalanceSunny;
			else return mdiWeatherNight
		}
	},
	filters: {
		firstCapitalize: (val) => val[0].toUpperCase() + val.substr(1)
	},
	mounted() {

		// this.$vuetify.theme.dark = window?.matchMedia("(prefers-color-scheme: dark)")?.matches;
		this.$root.$on("alert", (data) => {
			this.alertData = data
			this.isAlert = true
		})
		this.isOpen = !!this.$route.query.reset || !!this.$route.query.confirm
	}
}
</script>
<style>
  p{
    font-size: 0.92rem;
  }
</style>
