<template>
  <v-row justify="center">
    <v-dialog
      :value="true"
      overlay-opacity="1"
      persistent
      max-width="560"
      content-class="hidden-overflow">
      <login />
    </v-dialog>
  </v-row>
</template>
<script>

import Login from "~/components/Auth/Login"
export default {
	name: "LoginPage",
	layout: "empty",
	components: {Login}
}
</script>
