<template>
  <v-row justify="center">
    <v-dialog
      :value="true"
      overlay-opacity="1"
      persistent
      max-width="560"
      content-class="hidden-overflow">
      <register />
    </v-dialog>
  </v-row>
</template>
<script>

import Register from "~/components/Auth/Register"
export default {
	name: "RegistrationPage",
	layout: "empty",
	components: {Register}
}
</script>
