<template>
  <v-row justify="center">
    <v-dialog
      :value="true"
      overlay-opacity="1"
      persistent
      max-width="560"
      content-class="hidden-overflow">
      <reset-password />
    </v-dialog>
  </v-row>
</template>
<script>

import ResetPassword from "~/components/Auth/ResetPassword"
export default {
	name: "ResetPasswordPage",
	layout: "empty",
	components: {ResetPassword}
}
</script>
