<template>
  <v-card class="elevation-0">
    <v-app-bar
      dense
      class="elevation-0 mb-5">
      <v-toolbar-title>Вход</v-toolbar-title>
      <v-spacer />
      <v-btn
        icon
        small
        @click.prevent="goToMainPage">
        <v-icon>{{ mdiClose }}</v-icon>
      </v-btn>
    </v-app-bar>
    <v-form
      ref="form"
      @submit.prevent="captchaOnSubmit"
    >
      <v-card-text class="pb-0">
        <recaptcha
          @error="captchaOnError"
          @success="captchaOnSuccess"
        />
        <v-text-field
          v-model="email"
          :rules="[rules.required, rules.email]"
          name="auth-login"
          label="Email"
          dense
          outlined
          filled
          class="input-group--focused"
        />
        <v-text-field
          v-model="password"
          :rules="[rules.required, rules.min]"
          :append-icon="show2 ? mdiEye : mdiEyeOff"
          :type="show2 ? 'text' : 'password'"
          name="auth-password"
          label="Пароль"
          dense
          outlined
          filled
          class="input-group--focused"
          @click:append="show2 = !show2"
        />
      </v-card-text>
      <v-card-actions class="justify-center pt-0">
        <v-btn
          text
          type="submit"
          :loading="isLoad">
          Войти
        </v-btn>
      </v-card-actions>
    </v-form>
    <v-card-actions class="justify-center pt-0">
      <p class="caption">
        Восстановить
        <a @click.prevent="$router.push('/reset')">пароль</a> или
        <a @click.prevent="$router.push('/registration')">зарегистрироваться</a>
      </p>
    </v-card-actions>
  </v-card>
</template>
<script>
import {
	mdiEye,
	mdiEyeOff,
	mdiClose
} from "@mdi/js"
export default {
	name: "Login",
	props: {
	  open: Boolean
	},
	data () {
		return {
			mdiEye,
			mdiClose,
			mdiEyeOff,
			isOpen: true,
			show2: false,
			password: "",
			isLoad: false,
			email: "",
			isError: false,
			rules: {
				required: v => !!v || "Обязательное поле",
				min: v => v.length >= 6 || "Минимум 6 символов",
				email: v => /.+@.+\..+/.test(v) || "Некорректный Email"
			},
		}
	},
	methods: {
		captchaOnError(error){
			console.log("Error was happened:", error)
		},
		async captchaOnSubmit(){
			try {
				await this.$recaptcha.getResponse()
				await this.$recaptcha.reset()
			} catch (error) {
				console.log("Login error:", error)
			}
		},
		async captchaOnSuccess(){
			await this.userLogin()
		},
	  goToMainPage() {
			this.$router.push("/")
		},
		async userLogin() {
			try {
			  if(this.$refs.form.validate()) {
					this.isLoad = true
					await this.$auth.loginWith("local", { data: {
						email: this.email,
						password: this.password
					}})
					this.goToMainPage()
				}
			} catch (err) {
				// Отправляем Alert в default layout для вызова Snackbar
				this.$root.$emit("alert", {
					message: _.get(err, "response.data.message") || err.message,
					type: "error"
				})
			} finally {
				this.isLoad = false
			}
		}
	}
}
</script>

  <style scoped>
    .input-group--focused {
      font-size: 1em;
    }
  </style>
