<template>
  <v-card
    v-if="step!== 'pending'"
    class="elevation-0">
    <v-app-bar
      dense
      class="elevation-0 mb-5">
      <v-toolbar-title>Регистрация</v-toolbar-title>
      <v-spacer />
      <v-btn
        icon
        small
        @click.prevent="goToMainPage">
        <v-icon>{{ mdiClose }}</v-icon>
      </v-btn>
    </v-app-bar>
    <v-form
      v-if="step === 'start'"
      ref="form"
      @submit.prevent="captchaOnSubmit"
    >
      <v-card-text class="pb-0">
        <recaptcha
          @error="captchaOnError"
          @success="captchaOnSuccess"
        />
        <v-text-field
          v-model="email"
          :rules="[rules.required, rules.email]"
          name="registration-email"
          label="Email"
          dense
          outlined
          filled
          class="input-group--focused"
        />
        <v-text-field
          v-model="nickname"
          :rules="[rules.required]"
          name="registration-login"
          label="Никнейм"
          dense
          outlined
          filled
          class="input-group--focused"
        />
        <v-text-field
          v-model="password"
          :rules="[rules.min, rules.valid]"
          :append-icon="show2 ? mdiEye : mdiEyeOff"
          :type="show2 ? 'text' : 'password'"
          name="registration-password"
          label="Пароль"
          dense
          outlined
          filled
          class="input-group--focused"
          @click:append="show2 = !show2"
        />
        <v-text-field
          v-model="confirmPassword"
          :rules="[matchPassword]"
          :append-icon="show2 ? mdiEye : mdiEyeOff"
          :type="show2 ? 'text' : 'password'"
          name="registration-confirm-password"
          label="Повторите пароль"
          dense
          outlined
          filled
          class="input-group--focused"
          @click:append="show2 = !show2"
        />
      </v-card-text>
      <v-card-actions class="justify-center pt-0">
        <v-btn
          text
          type="submit"
          :loading="isLoad">
          Создать аккаунт
        </v-btn>
      </v-card-actions>
    </v-form>
    <v-card-text v-else-if="step === 'send'">
      <p>Проверьте свой почтовый ящик, чтобы завершить регистрацию</p>
    </v-card-text>
    <v-card-text v-else-if="step==='finish'">
      <p>Регистрация успешно завершена. Авторизуйтесь на сайте чтобы продолжить. <a @click.prevent="$router.push('/login')">Войти</a></p>
    </v-card-text>
    <v-card-actions
      v-show="step !=='finish'"
      class="justify-center">
      <p class="caption">
        Есть аккаунт? <a @click.prevent="$router.push('/login')">Войти</a>
      </p>
    </v-card-actions>
  </v-card>
</template>
<script>
import {
	mdiEye,
	mdiEyeOff,
	mdiClose
} from "@mdi/js"
export default {
	name: "Register",
	props: {
	  open: Boolean
	},
	data (vm) {
		return {
			mdiEye,
			mdiClose,
			mdiEyeOff,
			show2: false,
			isOpen: true,
			nickname: "",
			isLoad: false,
			password: "",
			confirmPassword: "",
			email: "",
			step: vm.$route.query.confirm ? "pending" : "start",
			rules: {
				required: v => !!v || "Обязательное поле",
				min: v => v.length >= 6 || "Минимум 6 символов",
				valid: v => /^(((?=.*[a-z])(?=.*[A-Z]))|((?=.*[a-z])(?=.*[0-9]))|((?=.*[A-Z])(?=.*[0-9])))(?=.{6,})/.test(v)  || "Пароль должен содержать цифры и буквы",
				email: v => /.+@.+\..+/.test(v) || "Некорректный Email"
			},
		}
	},
	computed: {
		matchPassword() {
	    return this.confirmPassword === this.password || "Пароли отличаются"
	  }
	},
	methods: {
		captchaOnError(error){
			console.log("Что-то пошло не так:", error)
		},
		async captchaOnSubmit(){
			try {
				await this.$recaptcha.getResponse()
				await this.$recaptcha.reset()
			} catch (error) {
				console.log("Ошибка при входе:", error)
			}
		},
		async captchaOnSuccess(){
			await this.userRegister()
		},
		goToMainPage(){
			this.$router.push("/")
		},
		async userRegister() {
			try {
			  if (this.$refs.form.validate()) {
					this.isLoad = true
					await this.$axios.$post("/auth/signUp",  {
						email: this.email,
						password: this.password,
						nickname: this.nickname
					})
					this.step = "send"
				}
			} catch (err) {
				console.log(err)
				// Отправляем Alert в default layout для вызова Snackbar
				this.$root.$emit("alert", {
					message: _.get(err, "response.data.message") || err.message,
					type: "error"
				})
			} finally {
				this.isLoad = false
			}
		},
	},
	async created() {
	  try {
			if(this.step === "pending") {
				await this.$axios.$get(`/auth/confirm/?token=${this.$route.query.token}`)
				this.step = "finish"
			}
		} catch (e) {
			console.error(e)
			// Отправляем Alert в default layout для вызова Snackbar
			this.$root.$emit("alert", {
				message: "Произошла ошибка при регистрации",
				type: "error"
			})
		}

	}
}
</script>

<style scoped>
  .input-group--focused {
    font-size: 1em;
  }
</style>
