<template>
  <v-card class="elevation-0">
    <v-app-bar
      dense
      class="elevation-0 mb-5">
      <v-toolbar-title>Восстановление пароля</v-toolbar-title>
      <v-spacer />
      <v-btn
        icon
        small
        @click.prevent="closeModal">
        <v-icon>{{ mdiClose }}</v-icon>
      </v-btn>
    </v-app-bar>

    <v-form
      v-if="step==='start'"
      ref="email"
      @submit.prevent="captchaOnSubmit"
    >
      <v-card-text class="pb-0">
        <recaptcha
          @error="captchaOnError"
          @success="captchaOnSuccess"
        />
        <v-text-field
          v-model="email"
          :rules="[rules.required, rules.email]"
          name="auth-login"
          label="Email"
          dense
          outlined
          filled
          class="input-group--focused"
        />
      </v-card-text>
      <v-card-actions class="justify-center pt-0">
        <v-btn
          text
          type="submit"
          :loading="isLoad">
          Восстановить
        </v-btn>
      </v-card-actions>
    </v-form>

    <v-card-text v-else-if="step === 'send'">
      <p>Дальнейшие инструкции отправлены на ваш почтовый ящик</p>
    </v-card-text>

    <v-form
      v-else-if="step === 'process'"
      ref="password"
      @submit.prevent="changePassword"
    >
      <v-card-text class="pb-0">
        <v-text-field
          v-model="password"
          :rules="[rules.min, rules.valid]"
          :append-icon="show2 ? mdiEye : mdiEyeOff"
          :type="show2 ? 'text' : 'password'"
          name="registration-password"
          label="Новый пароль"
          dense
          outlined
          filled
          class="input-group--focused"
          @click:append="show2 = !show2"
        />
        <v-text-field
          v-model="confirmPassword"
          :rules="[matchPassword]"
          :append-icon="show2 ? mdiEye : mdiEyeOff"
          :type="show2 ? 'text' : 'password'"
          name="registration-confirm-password"
          label="Повторите пароль"
          dense
          outlined
          filled
          class="input-group--focused"
          @click:append="show2 = !show2"
        />
      </v-card-text>
      <v-card-actions class="justify-center pt-0">
        <v-btn
          text
          type="submit"
          :loading="isLoad">
          Изменить пароль
        </v-btn>
      </v-card-actions>
    </v-form>

    <v-card-text v-else-if="step==='finish'">
      <p>Пароль успешно изменен. Авторизуйтесь на сайте с новым паролем. <a @click.prevent="$router.push('/login')">Войти</a></p>
    </v-card-text>

    <v-card-actions
      v-show="step !=='finish'"
      class="justify-center">
      <p class="caption">
        Вспомнили пароль? <a @click.prevent="$router.push('/login')">Войти</a>
      </p>
    </v-card-actions>
  </v-card>
</template>
<script>
import {
	mdiEye,
	mdiEyeOff,
	mdiClose
} from "@mdi/js"
export default {
	name: "Register",
	props: {
	  open: Boolean
	},
	data (vm) {
		return {
			mdiEye,
			mdiClose,
			mdiEyeOff,
			show2: false,
			isLoad: false,
			email: "",
			password: "",
			step: vm.$route.query.reset ? "process" : "start",
			isCompleteChangingPassword: false,
			isStartChangingPassword: false,
			confirmPassword: "",
			rules: {
				required: v => !!v || "Обязательное поле",
				email: v => /.+@.+\..+/.test(v) || "Некорректный Email",
				min: v => v.length >= 6 || "Минимум 6 символов",
				valid: v => /^(((?=.*[a-z])(?=.*[A-Z]))|((?=.*[a-z])(?=.*[0-9]))|((?=.*[A-Z])(?=.*[0-9])))(?=.{6,})/.test(v)  || "Пароль должен содержать цифры и буквы"
			},
		}
	},
	computed: {
		matchPassword() {
			return this.confirmPassword === this.password || "Пароли отличаются"
		}
	},
	methods: {
		captchaOnError(error){
			console.log("Error happened:", error)
		},
		async captchaOnSubmit(){
			try {
				await this.$recaptcha.getResponse()
				await this.$recaptcha.reset()
			} catch (error) {
				console.log("Login error:", error)
			}
		},
		async captchaOnSuccess(){
			await this.resetPassword()
		},
		closeModal() {
			this.$emit("update:open", !this.open)
			this.$emit("update:currentView", "login")
		},
		async resetPassword() {
			try {
				if (this.$refs.email.validate()) {
					this.isLoad = true
					await this.$axios.$post("/auth/reset", {
						email: this.email
					})
					this.step = "send"
				}
			} catch (err) {
				console.log(err)
				// Отправляем Alert в default layout для вызова Snackbar
				this.$root.$emit("alert", {
					message: _.get(err, "response.data.message") || err.message,
					type: "error"
				})
			} finally {
				this.isLoad = false
			}
		},
		async changePassword() {
			try {
				if (this.$refs.password.validate()) {
					this.isLoad = true
					await this.$axios.$post("/auth/set-new-password", {
						password: this.password,
						token: this.$route.query.token
					})
					this.step = "finish"
				}
			} catch (err) {
				console.log(err)
				// Отправляем Alert в default layout для вызова Snackbar
				this.$root.$emit("alert", {
					message: _.get(err, "response.data.message") || err.message,
					type: "error"
				})
			} finally {
				this.isLoad = false
			}
		}
	}
}
</script>

<style scoped>
  .input-group--focused {
    font-size: 1em;
  }
</style>
