<template>
  <v-snackbar
    :value="isShow"
    :timeout="alertData.timeout"
    :color="alertData.type"
    @input="$emit('update:isShow', !isShow)"
  >
    <p class="text-center py-0 my-0">
      {{ alertData.message }}
    </p>
  </v-snackbar>
</template>

<script>
export default {
	name: "Snackbar",
	props: {
		isShow: Boolean,
		alertData: {
			type: Object,
			default: () => ({
				message: "",
				type: "default",
				timeout: 2000
			})
		}
	}
}
</script>

<style scoped>

</style>
