<template>
  <v-row
    justify="center"
    class="card-content">
    <v-col
      class="hidden-sm-and-down"
      cols="12"
      md="1"
    >
      <v-row
        justify="center"
      >
        <client-only>
          <div
            style="top: 200px"
            class="fixed">
            <action-buttons
              v-if="$vuetify.breakpoint.mdAndUp"
              :id="id"
              is-desktop />
          </div>
        </client-only>
      </v-row>
    </v-col>

    <v-col
      cols="12"
      class="px-0"
      md="8"
    >
      <v-card
        max-width="1024"
        class="elevation-0 mx-auto"
      >
        <v-list-item class="py-0">
          <v-list-item-content>
            <v-list-item-title
              class="headline text-center"
            >
              {{ header }}
            </v-list-item-title>
          </v-list-item-content>
        </v-list-item>
        <v-img
          class="mb-3"
          :src="logo.url"
          :alt="logo.alt"
          height="300"
        />
        <v-card-text
          class="body-1"
          :style="customColor"
          v-html="content" />
        <v-divider />
        <v-card-actions
          class="mb-3 d-flex justify-space-between align-center"
          :style="customFooter">
          <div>
            <client-only>
              <action-buttons
                v-if="!$vuetify.breakpoint.mdAndUp"
                :id="id"
                is-mobile />
            </client-only>
          </div>
          <div class="d-flex justify-space-between align-center">
            <shared-components :uid="$route.params.uid" />
            <div class="d-flex justify-end align-center ml-2">
              <v-avatar color="grey">
                <v-img src="/images/robot.svg" />
              </v-avatar>
              <div class="ml-2">
                <p class="caption my-0 py-0">
                  от Robot
                </p>
                <p class="caption my-0 py-0">
                  {{ date }}
                </p>
              </div>
            </div>
          </div>
        </v-card-actions>
        <v-card-title class="comments-title">
          Комментарии:
        </v-card-title>
        <v-card-text
          :key="$vuetify.theme.dark"
          class="comments-body">
          <div class="comments">
            <Disqus
              lang="ru"
            />
          </div>
        </v-card-text>
      </v-card>
    </v-col>
    <v-col
      cols="12"
      class="same-stories-body"
      md="3">
      <v-row
        justify="center"
      >
        <v-card
          v-if="sameStories.length"
          class="mx-auto"
          :class=" { 'fixed' : this.$vuetify.breakpoint.mdAndUp }"
          :style="AdBlockMaxWith"
        >
          <v-app-bar
            elevation="0">
            <v-toolbar-title>Похожие истории</v-toolbar-title>
          </v-app-bar>

          <v-container class="pt-0">
            <v-row dense>
              <v-col cols="12">
                <v-card
                  v-for="story in sameStories"
                  :key="story.id"
                  elevation="0"
                >
                  <v-list-item>
                    <v-list-item-content>
                      <v-list-item-title
                        class="text-center"
                      >
                        <nuxt-link
                          :to="story.uid"
                        >
                          {{ story.data.post_title[0].text }}
                        </nuxt-link>
                      </v-list-item-title>
                    </v-list-item-content>
                  </v-list-item>

                  <v-card-subtitle class="pt-0">
                    {{ story.data.post_announce[0].text | cropText }}
                  </v-card-subtitle>
                  <v-divider />
                </v-card>
              </v-col>
            </v-row>
          </v-container>
        </v-card>
      </v-row>
    </v-col>
  </v-row>
</template>

<script>
import SharedComponents from "~/components/SharedComponent"
import {getDataForPage, getPostsByTag} from "~/utils/prismic"
import {
	mdiStar,
	mdiCalendarRange,
	mdiStarOutline
} from "@mdi/js"
import ActionButtons from "~/components/ActionButtonsComponent";

export default {
	components: {ActionButtons, SharedComponents},
	validate({params}) {
		return !!params.uid
	},
	head() {
	  const data = {
	    pageType: "story",
			title: this.meta_title,
			uid: this.$route.params.uid,
			description: this.meta_description,
			keywords: this.meta_keywords,
			imageUrl: this.logo.url
	  }
		return this.$meta_head(data)
	},
	data() {
		return {
			mdiStar,
			mdiCalendarRange,
			mdiStarOutline,
			count: 0,
		}
	},
	/**
   * Наполнение страницы при генерации и локально
   * @param params - параметры роутера
   * @param $axios - запрос
   * @param error
   * @returns {Promise<{date: *, meta_description: *, meta_title: *, header: *, logo: *, id: *, first_publication_date: *, meta_keywords: *, content: *, tags: *}>}
   */
	async asyncData({params, $axios, $dateFns, error}) {
	  try {
			const {
				header,
				content,
				date,
				logo,
				tags,
				id,
				meta_keywords,
				meta_title,
				meta_description,
			} = await getDataForPage("post", `${params.uid}`)
			const [type] = tags
			const {results: sameStories} = await getPostsByTag("document.tags", type);
			return {
				header,
				content,
				date: $dateFns.format(date, "dd.MM.yyyy"),
				logo,
				tags,
				id,
				meta_keywords,
				meta_title,
				meta_description,
				sameStories: sameStories.filter(story => story.uid !== params.uid).slice(sameStories[Math.floor(Math.random() * sameStories.length - 4)], 4)
			}
		} catch(e) {
			error({ statusCode: 404 })
		}
	},
	computed: {
		customColor() {
		  return {color: this.$customTheme.color}
		},
		customFooter() {
		  return {background: this.$customTheme.storyFooter}
		},
		AdBlockMaxWith() {
			return {maxWidth: this.$vuetify.breakpoint.mdAndUp && "350px"}
		},
	},
	filters: {
		cropText: (text) => {
			if (text) {
				const length = 100;
				if (text.length > length) {
					const lastSpace = text.substr(0, length).lastIndexOf(" ")
					const lastSymbol = text[text.substr(0, lastSpace).length - 1];
					if (lastSymbol === "," || lastSymbol === ".") return text.substr(0, lastSpace - 1) + "...";
					else return text.substr(0, lastSpace) + "...";
				} else return text
			} else return "Краткое описание временно не доступно"
		}
	}
}

</script>

<style>
.v-card__text>div>iframe {
  width: 100% !important;
}
.v-card__text>div>div>img{
  width: 100% !important;
}
  .fixed {
    position: fixed;
  }
</style>

